@import 'base/base';
body{
    background-color: lightgrey;
}
h1, h2{
    font-weight: bold;
}
h1{
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}
h2{
    font-size: 20px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    width: 100%;
    height: 80vh;
    background-color: white;
}
.box{
    width: 40%;
    height: 45%;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 15px 10px;
    &Panel{
        width: 100%;
        margin: 15px 0px;
        &__input{
            width: 70%;
            height: 30px;
            border-radius: 3px;
            border: 1px solid gray;
            padding-left: 5px;
            &:focus{
                outline: none;
                border: 2px aqua solid;
                box-shadow: 0px 0px 0px 4px rgb(196, 233, 233);
            }

        }
        &__button{
            width: 14%;
            height: 30px;
            border: none;
            border-radius: 5px;
        }
    }
    &__textarea{
        width: 100%;
        height: 100px;
        border-radius: 3px;
        border: 1px solid gray;
        resize: none;
        margin-bottom: 5px;
        &:focus{
            outline: none;
            border: 2px aqua solid;
            box-shadow: 0px 0px 0px 4px rgb(196, 233, 233);
        }
    }
    &__button{
        @extend .boxPanel__button;
    }
}
.add{
    background-color: orange;
    &:focus{
        outline: none;
        box-shadow: 0px 0px 0px 4px rgb(247, 189, 81);
    }
}
.reset{
    background-color: red;
    color: white;
    &:focus{
        outline: none;
        box-shadow: 0px 0px 0px 4px rgb(245, 101, 101);
    }
}
.censor{
    background-color: green;
    color: white;
    width: 100%;
    &:focus{
        outline: none;
        box-shadow: 0px 0px 0px 4px rgb(115, 206, 115);
    }
}
.badWord{
    color: red;
}